<a href="https://colab.research.google.com/github/AireesRondain/Call-Transcript/blob/main/FB_Count_Unique_Words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/Colab Notebooks/downloads

Mounted at /gdrive
/gdrive/My Drive/Colab Notebooks/downloads

In [2]:
import os
import pandas as pd # holds data
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting
import warnings
warnings.filterwarnings('ignore')

# plotting config
sns.set(style='white', rc={'figure.figsize':(20,10)})

In [3]:
text_file = open('FB-Q2-2021.txt', 'r')
text = text_file.read()

In [4]:
#cleaning
text = text.lower()
words = text.split()
words = [word.strip('.,!;()[]') for word in words]
words = [word.replace("'s",'') for word in words]

In [5]:
import string
# Create an empty dictionary
d = dict()

for word in words:
    # Check if the word is already in dictionary
  if word in d:
  # Increment count of word by 1
    d[word] = d[word] + 1
  else:
  # Add the word to dictionary with count 1
    d[word] = 1  
# Print the contents of dictionary
#for key in list(d.keys()):
#    print(key, ":", d[key])

In [7]:
df = pd.DataFrame(list(d.items()),columns = ['word','count'])
# adding column with constant value
df.insert(0,'Transcript Name','FB-Q2-2021')
df.sort_values('count',axis=0,ascending=False,inplace=True)

In [8]:
df.head(10)

    Transcript Name  word  count
22       FB-Q2-2021   the    430
19       FB-Q2-2021    to    412
6        FB-Q2-2021   and    366
35       FB-Q2-2021    of    274
66       FB-Q2-2021  that    254
104      FB-Q2-2021     a    199
84       FB-Q2-2021    in    183
60       FB-Q2-2021    we    162
4        FB-Q2-2021    is    149
89       FB-Q2-2021    on    149

In [9]:
df.tail()

     Transcript Name     word  count
973       FB-Q2-2021   items:      1
975       FB-Q2-2021      41%      1
980       FB-Q2-2021      r&d      1
981       FB-Q2-2021      37%      1
1726      FB-Q2-2021  minutes      1

In [10]:
df.shape

(1727, 3)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1727 entries, 22 to 1726
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transcript Name  1727 non-null   object
 1   word             1727 non-null   object
 2   count            1727 non-null   int64
dtypes: int64(1), object(2)
memory usage: 54.0+ KB

In [12]:
df.dtypes

Transcript Name    object
word               object
count               int64
dtype: object

In [13]:
df. describe()

             count
count  1727.000000
mean      6.162710
std      23.256408
min       1.000000
25%       1.000000
50%       2.000000
75%       4.000000
max     430.000000

In [14]:
df.median()

count    2.0
dtype: float64

In [15]:
df.to_csv('FB-2021-Q2.csv', index=False)