<a href="https://colab.research.google.com/github/AireesRondain/Call-Transcript/blob/main/GOOG_Count_Unique_Words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/Colab Notebooks/downloads

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/Colab Notebooks/downloads

In [ ]:
import os
import pandas as pd # holds data
import warnings
warnings.filterwarnings('ignore')

# plotting config
sns.set(style='white', rc={'figure.figsize':(20,10)})

In [ ]:
text_file = open('GOOG-Q2-2021.txt', 'r')
text = text_file.read()

In [ ]:
#cleaning
text = text.lower()
words = text.split()
words = [word.strip('.,!;()[]') for word in words]
words = [word.replace("'s",'') for word in words]

In [ ]:
import string
# Create an empty dictionary
d = dict()

for word in words:
    # Check if the word is already in dictionary
  if word in d:
  # Increment count of word by 1
    d[word] = d[word] + 1
  else:
  # Add the word to dictionary with count 1
    d[word] = 1  
# Print the contents of dictionary
#for key in list(d.keys()):
#    print(key, ":", d[key])

In [ ]:
df = pd.DataFrame(list(d.items()),columns = ['word','count'])
# adding column with constant value
df.insert(0,'Transcript Name','GOOG-Q2-2021')
df.sort_values('count',axis=0,ascending=False,inplace=True)

In [ ]:
df.head(10)

   Transcript Name  word  count
39    GOOG-Q2-2021   and    314
7     GOOG-Q2-2021   the    310
20    GOOG-Q2-2021    to    260
29    GOOG-Q2-2021    of    184
95    GOOG-Q2-2021    in    175
58    GOOG-Q2-2021    we    139
61    GOOG-Q2-2021   our    123
79    GOOG-Q2-2021     a    112
57    GOOG-Q2-2021  that     85
4     GOOG-Q2-2021   for     84

In [ ]:
df.tail()

     Transcript Name     word  count
931     GOOG-Q2-2021  frontal      1
933     GOOG-Q2-2021  compara      1
934     GOOG-Q2-2021   leader      1
935     GOOG-Q2-2021    chile      1
1766    GOOG-Q2-2021       52      1

In [ ]:
df.shape

(1767, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1767 entries, 39 to 1766
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transcript Name  1767 non-null   object
 1   word             1767 non-null   object
 2   count            1767 non-null   int64
dtypes: int64(1), object(2)
memory usage: 55.2+ KB

In [ ]:
df.dtypes

Transcript Name    object
word               object
count               int64
dtype: object

In [ ]:
df. describe()

             count
count  1767.000000
mean      4.475948
std      16.133305
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max     314.000000

In [ ]:
df.median()

count    1.0
dtype: float64

In [ ]:
df.to_csv('GOOG-2021-Q2.csv', index=False)